@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ChargeHub</h1>
    <p class="text-center font-monospace mt-4">
        ChargeHub has a fantastic user interface and helps you locate all the charge machines in your area.
    </p>
    <img src="https://img.freepik.com/free-vector/electric-car-charging-charger-station-cityscape-background_136277-447.jpg?w=996" alt="Charge station" class="img-resposive">
</div>


